version: 2.1

executors:
  rust-executor:
    docker:
      - image: rust:latest

jobs:
  check-fmt:
    executor: rust-executor
    steps:
      - checkout
      - run:
          name: install rustfmt
          command: rustup component add rustfmt
      - run:
          name: check formatting
          command: cargo fmt -- --check
  build-native:
    executor: rust-executor
    steps:
      - checkout
      - run:
          name: build nphysics2d
          command: cargo build --verbose -p nphysics2d;
      - run:
          name: build nphysics3d
          command: cargo build --verbose -p nphysics3d;
      - run:
          name: check nphysics_testbed2d
          command: cargo check --verbose -p nphysics_testbed2d;
      - run:
          name: check nphysics_testbed3d
          command: cargo check --verbose -p nphysics_testbed3d;
      - run:
          name: check nphysics-examples-2d
          command: cargo check -j 1 --verbose -p nphysics-examples-2d;
      - run:
          name: check nphysics-examples-3d
          command: cargo check -j 1 --verbose -p nphysics-examples-3d;
      - run:
          name: test nphysics2d
          command: cargo test --verbose -p nphysics2d;
      - run:
          name: test nphysics3d
          command: cargo test --verbose -p nphysics3d;
      - run:
          name: test nphysics_testbed2d
          command: cargo test --verbose -p nphysics_testbed2d;
      - run:
          name: test nphysics_testbed3d
          command: cargo test --verbose -p nphysics_testbed3d;
      - run:
          name: check nphysics_testbed2d with fluids
          command: cd build/nphysics_testbed2d && cargo check --verbose --features=fluids;
      - run:
          name: check nphysics_testbed3d with fluids
          command: cd build/nphysics_testbed3d && cargo check --verbose --features=fluids;
  build-wasm:
    executor: rust-executor
    steps:
      - checkout
      - run:
          name: install cargo-web
          command: cargo install -f cargo-web;
      - run:
          name: build nphysics2d
          command: cd build/nphysics2d && cargo web build --verbose --target wasm32-unknown-unknown;
      - run:
          name: build nphysics3d
          command: cd build/nphysics3d && cargo web build --verbose --target wasm32-unknown-unknown;
      - run:
          name: build nphysics-examples-2d
          command: cd examples2d && cargo web build --verbose --target wasm32-unknown-unknown;
      - run:
          name: build nphysics-examples-3d
          command: cd examples3d && cargo web build --verbose --target wasm32-unknown-unknown;
      - run:
          name: build nphysics_testbed2d
          command: cd build/nphysics_testbed2d && cargo web build --verbose --target wasm32-unknown-unknown;
      - run:
          name: build nphysics_testbed3d
          command: cd build/nphysics_testbed3d && cargo web build --verbose --target wasm32-unknown-unknown;


workflows:
  version: 2
  build:
    jobs:
      - check-fmt
      - build-native:
          requires:
            - check-fmt
      - build-wasm:
          requires:
            - check-fmt
