#[link(name     = "nphysics"
       , vers   = "0.0"
       , author = "Sébastien Crozet"
       , uuid   = "b55cde38-0873-4861-bcb6-041fcb58d1bd")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod extra;
extern mod nalgebra;
extern mod ncollide;

pub mod aliases
{
    pub mod dim2;
    pub mod dim3;
}

pub mod integration
{
    pub mod integrator;
    pub mod rigid_body_integrator;
    pub mod soft_body_integrator;
    pub mod body_force_generator;
    pub mod euler;
    pub mod body_damping;
}

pub mod detection
{
    pub mod detector;
    pub mod island_activation_manager;

    pub mod collision
    {
        pub mod bodies_bodies;
        pub mod default_default;
    }
}

pub mod resolution
{
    pub mod solver;

    pub mod constraint
    {
        pub mod accumulated_impulse_solver;
        pub mod projected_gauss_seidel_solver;
        pub mod velocity_constraint;
        pub mod contact_equation;
    }
}
pub mod world
{
    pub mod world;
}

pub mod object
{
    pub mod rigid_body;
    pub mod soft_body;
    pub mod volumetric;
    pub mod implicit_geom;
    pub mod body;
}
