#[link(name     = "nphysics"
       , vers   = "0.0"
       , author = "Sébastien Crozet"
       , uuid   = "b55cde38-0873-4861-bcb6-041fcb58d1bd")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod nalgebra;
extern mod ncollide;

pub mod world
{
  pub mod world;
}

pub mod graph
{
  pub mod accumulator;
  pub mod collision_graph;
  pub mod island_accumulator;
}

pub mod body
{
  pub mod material;
  pub mod can_move;
  pub mod volumetric;
  pub mod dynamic;
  pub mod rigid_body;
  pub mod implicit_volumetric_transformation_bounding_volume;
}

pub mod integrator
{
  pub mod integrator;
  pub mod euler;
  pub mod body_gravity_integrator;
  pub mod damping_integrator;
  pub mod composite_integrator;
}

pub mod constraint
{
  pub mod index_proxy;
  pub mod constraint_solver;
  pub mod projected_gauss_seidel_solver;
  pub mod contact_equation;
  pub mod contact_with_impulses;
  pub mod accumulated_impulse_solver;
  pub mod geometric_contact_with_impulse;
}

pub mod dim2
{
  pub mod aliases;
  pub mod volumetric_impl;
}

pub mod dim3
{
  pub mod aliases;
  pub mod volumetric_impl;
}
