#[link(name = "nphysics"
       , vers = "0.0"
       , author = "Sébastien Crozet"
       , uuid = "b55cde38-0873-4861-bcb6-041fcb58d1bd")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod nalgebra;

pub use world::world::World;

pub mod world
{
  pub mod world;
  pub mod collision_graph;
}

pub mod body
{
  pub mod transformable;
  pub mod dynamic;
  pub mod rigid_body;
}

pub mod integrator
{
  pub mod integrator;
  pub mod euler;
  pub mod body_gravity_integrator;
  pub mod damping_integrator;
  pub mod composite_integrator;
}

pub mod dim2
{
  pub mod aliases;
}
